<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultado da Pesquisa</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
  <h1>Bookly</h1>
  <a href="/">Voltar para a página inicial</a>
</header>
<main>
  <h2>Resultado da Pesquisa</h2>
  <p>Livro encontrado: <a href="/reservar/1">{{ livroEncontrado }}</a></p> <!-- Link para a página de reserva -->
</main>
<footer>
  <p>&copy; 2024 Bookly. Todos os direitos reservados.</p>
</footer>
</body>
</html>
